# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=rfm_db
POSTGRES_USER=
POSTGRES_PASSWORD=

# Chemins
DATA_PATH=data/raw/online_retail_II.xlsx
EXCEL_SHEET=Year 2010-2011

# Ingestion
BATCH_SIZE=5000
LOG_DIR=logs